@import "prosemirror-view/style/prosemirror.css"; /* ProseMirror 기본 스타일 */

/* ProseMirror 에디터 스타일 */
.ProseMirror {
  padding: 10px;
  border: 1px solid #ccc;
  min-height: 300px;
  background: white;
}

/* ProseMirror 포커스 상태 스타일 */
.ProseMirror-focused {
  outline: none;
}

/* 에디터의 마진 스타일 */
#editor {
  margin-top: 20px;
}
